@import url("https://fonts.googleapis.com/css?family=Alegreya|Alegreya+SC");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  base font-size: 18px
  base line-height: 22px
  1.618/Phi is our modular scale:
  https://www.modularscale.com/?18&px&1.618
*/

/* --- Base Styles --- */
/* --- Layout --- */
/* --- Module Section --- */
/* --- State --- */
/* --- Diagnostic CSS ---  */

/* MATH

Standard -1
11.12px
0.618055555em         | 11.125 / 18 = 0.618055555
1.977528089em lh      | 22 / 11.125 = 1.977528089
0.988764044em 1/2 lh  | 1.977528089 / 2 = 0.988764044

Standard
18px
1.125em               | 18 / 16 = 1.125
1.222222222em lh      | 22 / 18 = 1.2222222222
0.611111111em 1/2 lh  | 1.2222222222 / 2 = 0.611111111

Standard +1
29.124px
1.618em                | 29.124 / 18 = 1.618
1.5107814861em lh      | 44 / 29.124 = 1.5107814861
0.7553907430em 1/2 lh  | 1.5107814861 / 2 = 0.7553907430
0.3776953715em 1/4 lh  | 1.5107814861 / 4 = 0.3776953715

Standard +2
47.12px
2.617777777em           | 47.12 / 18 = 2.617777777
1.400679117em lh        | 66 / 47.12 = 1.400679117
0.700339558em 1/2 lh    | 1.400679117 / 2 = 0.700339558
0.466893039em 1/3 lh    | 1.400679117 / 3 = 0.466893039
0.233446519em 1/6 lh    | 1.400679117 / 6 = 0.233446519

Standard +3
76.24px

*/

/*
http://mkweb.bcgsc.ca/color-summarizer/?analyze

Color summary from images using tool

Color 1: PHB
#844A34 	132 74 52
http://paletton.com/#uid=10e0u0kjpg-2Z0zaI7UrenWOlBu

Color 2: DMG
#54304E 	84 48 78
http://paletton.com/#uid=14+0u0kdIeY042q5x7lmYnDH1H-

*/

/**/

/* --- Base Styles --- */

html { /*Standard*/
  background: #DDD;
  font-family: Alegreya, Cambria, Times, serif;
  font-size: 1.125em;
  line-height: 1.2222222222em;
  padding: 1.2222222222em;
}

h1 { /*Standard +1*/
  color: #844A34;
  font-family: "Alegreya SC", Alegreya, Cambria, Times, serif;
  font-size: 1.618em;
  line-height: 1.5107814861em;
}

p { /*Standard lh*/
  padding-bottom: 1.2222222222em;
}

/* Forms */
input,
label {
  display: block;
  box-sizing: border-box;
}

input { /*Standard lh*/
  padding: 1.222222222em;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
  border: 0;
  outline: 0;
  width: 100%;

}

input[type="email"],
input[type="text"] { /*Standard 1/2 lh*/
  margin-bottom: 0.611111111em;
  background-color: rgba(84, 48, 78, 0.5);

}

input[type="email"]:focus,
input[type="text"]:focus {
  background-color: #EEE;

}

input[type="submit"] {
  background-color: rgba(84, 48, 78, 1);
}

input[type="submit"]:active {
  background-color: rgba(84, 48, 78, 0.5);
}

input[type="submit"]:disabled {
  background-color: rgba(84, 48, 78, 0.1);
}


/* --- Layout --- */

#submit { /*Standard +1: em, lh, 1/4 lh*/
  color: #844A34;
  font-family: "Alegreya SC", Alegreya, Cambria, Times, serif;
  font-size: 1.618em;
  padding: 0.3776953715em;
  line-height: 1.5107814861em;
}


/* --- Module Section --- */

.disclaimer { /*Standard -1*/
  padding-top: 1.977528089em;
  font-size: 0.618055555em;
  line-height: 1.977528089em;
  padding-bottom: 1.977528089em;
}


/* --- State --- */

@media screen and (min-width: 720px) {
  /*Stop growing at suitable size*/
  main {
    width: 37.555555555em; /*(720 - 44) / 18 = 37.555555555*/
  }

}










/* --- Diagnostic CSS ---  */

/*
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

body.g {
  position: relative;
}

body.g::after {
  /* Change the `height` parameter here to match your base line-height. */
  background: url('data:image/svg+xml;utf8,<svg height="22" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 255, 0.5)" /></svg>') repeat top left;

  content: "";
  display: none;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

body.g:active::after {
  display: block;
}
